<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.kanong.mapper.AlarmMapper">

    <sql id="All_Column_List">
        ddkh.id AS "id", ddkh.kn_user_id AS "knUserId", knuser.xlxm as "xlxm",knuser.xnxm as "xnxm", knuser.hljd as "hljd",knuser.hlrq as "hlrq",knuser.zt as "zt",
        ddkh.zfzr AS "zfzrid", sysuser.name as "gdr", ddkh.gdr as "gdrid",sysuserzfzr.name as "zfzr" ,
        ddkh.ddj as "ddj",ddkh.jdk as "jdk",
        sysuser.openid as "openId",
        knuser.xlxm as "xlxm",knuser.xnxm as "xnxm", knuser.hljd as "hljd",knuser.hlrq as "hlrq",sysuserzfzr.name as "zfzr" ,
        ddkh.sxsjhwcrq as "sxsjhwcrq",ddkh.sxsydrq as "sxsydrq",ddkh.sxspz as "sxspz",ddkh.sxswczt as "sxswczt",
        ddkh.sysjhwcrq as "sysjhwcrq",ddkh.sysydrq as "sysydrq",ddkh.syspz as "syspz",ddkh.syswczt as "syswczt",
        ddkh.syjhwcrq as "syjhwcrq",ddkh.syydrq as "syydrq",ddkh.sypz as "sypz",ddkh.sywczt as "sywczt",
        ddkh.hzsjhwcrq as "hzsjhwcrq",ddkh.hzsydrq as "hzsydrq",ddkh.hzspz as "hzspz",ddkh.hzswczt as "hzswczt",
        ddkh.hlfajhwcrq as "hlfajhwcrq",ddkh.hlfaydrq as "hlfaydrq",ddkh.hlfazt as "hlfazt",
        ddkh.jthyydrq as "jthyydrq",ddkh.jthywczt as "jthywczt",
        ddkh.hchydrq as "hchydrq",ddkh.hchwczt as "hchwczt",
        ddkh.djhy as "djhy",ddkh.djhywczt as "djhywczt",
        ddkh.pmsjydrq as "pmsjydrq",ddkh.pmsjwczt as "pmsjwczt",
        ddkh.sgzzydrq as "sgzzydrq",ddkh.sgzzwczt as "sgzzwczt",
        ddkh.fawcydrq as "fawcydrq",ddkh.fawcwczt as "fawcwczt",
        ddkh.dzqtydrq as "dzqtydrq",ddkh.dzqtwczt as "dzqtwczt",
        ddkh.sjapbydrq as "sjapbydrq",ddkh.sjapbwczt as "sjapbwczt",
        ddkh.wlcgydrq as "wlcgydrq",ddkh.wlcgwczt as "wlcgwczt"
    </sql>


    <select id="alarmList" resultType="cn.stylefeng.guns.modular.kanong.model.result.DdkhResult" parameterType="cn.stylefeng.guns.modular.kanong.model.params.DdkhParam">
        select
        <include refid="All_Column_List"/>
        from kn_ddkh ddkh left join kn_user knuser on ddkh.kn_user_id=knuser.id
        left join sys_user sysuser on ddkh.gdr=sysuser.user_id
        left join sys_user sysuserzfzr on ddkh.zfzr=sysuserzfzr.user_id
        where knuser.zt=3
        order by ddkh.cjsj desc
    </select>


</mapper>
