<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.kanong.mapper.ScgdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.kanong.entity.Scgd">
        <id column="id" property="id" />
        <result column="kn_user_id" property="knUserId" />
        <result column="gdr" property="gdr" />
        <result column="gdjg" property="gdjg" />
        <result column="gdjl" property="gdjl" />
        <result column="cjrq" property="cjrq" />
        <result column="jfdj" property="jfdj" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        scgd.id AS "id", scgd.kn_user_id AS "knUserId", knuser.xlxm as "xlxm",knuser.xnxm as "xnxm",sysuser.name as "jdr", knuser.hljd as "hljd",knuser.hlrq as "hlrq",knuser.jdrq as "jdrq",knuser.tdjl as "tdjl",knuser.zt as "zt",
           sysusergd.name AS "gdr", scgd.gdr as "gdrid", scgd.gdjg AS "gdjg", scgd.gdjl AS "gdjl", scgd.cjrq AS "cjrq", scgd.jfdj AS "jfdj"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.kanong.model.result.ScgdResult" parameterType="cn.stylefeng.guns.modular.kanong.model.params.ScgdParam">
        select
        <include refid="Base_Column_List"/>
        from kn_scgd where 1 = 1
            <if test="paramCondition.knUserId != null and paramCondition.knUserId != ''">
                and knUserId like CONCAT('%',#{paramCondition.knUserId},'%')
            </if>
            <if test="paramCondition.gdr != null and paramCondition.gdr != ''">
                and gdr like CONCAT('%',#{paramCondition.gdr},'%')
            </if>
            <if test="paramCondition.gdjg != null and paramCondition.gdjg != ''">
                and gdjg like CONCAT('%',#{paramCondition.gdjg},'%')
            </if>
    </select>



    <select id="customPageList" resultType="cn.stylefeng.guns.modular.kanong.model.result.ScgdResult" parameterType="cn.stylefeng.guns.modular.kanong.model.params.ScgdParam">
        select
        <include refid="Base_Column_List"/>
        from kn_scgd scgd left join kn_user knuser on scgd.kn_user_id= knuser.id
        left join sys_user sysuser on knuser.jdr=sysuser.user_id
        left join sys_user sysusergd on scgd.gdr=sysusergd.user_id
        where  (knuser.zt=1 or knuser.zt=2 or knuser.zt=3 or knuser.zt=4)
        <if test="paramCondition.xlxm != null and paramCondition.xlxm != ''">
            and (xlxm like CONCAT('%',#{paramCondition.xlxm},'%') or xnxm like CONCAT('%',#{paramCondition.xlxm},'%') )
        </if>

        order by knuser.cjrq desc
    </select>




    <select id="getSCGDById" resultType="cn.stylefeng.guns.modular.kanong.model.result.ScgdResult" parameterType="cn.stylefeng.guns.modular.kanong.model.params.ScgdParam">
        select
        <include refid="Base_Column_List"/>
        from kn_scgd scgd left join kn_user knuser on scgd.kn_user_id= knuser.id
        left join sys_user sysuser on knuser.jdr=sysuser.user_id
        left join sys_user sysusergd on scgd.gdr=sysusergd.user_id
        where scgd.id=#{paramCondition.id}

    </select>


    <select id="getSCGDByKNUserId" resultType="cn.stylefeng.guns.modular.kanong.model.result.ScgdResult" parameterType="String">
        select
        gdr
        from kn_scgd scgd
        where scgd.kn_user_id=#{knuserid}
    </select>

    <insert id="addPic"  parameterType="cn.stylefeng.guns.modular.kanong.entity.Tp" >
        insert into kn_tp (id,tpzl,tpzl_id,tplj,cjrq) values (#{paramCondition.id},#{paramCondition.tpzl},#{paramCondition.tpzlId},#{paramCondition.tplj},#{paramCondition.cjrq})
    </insert>

    <select id="getPic" resultType="cn.stylefeng.guns.modular.kanong.model.result.TpResult" parameterType="cn.stylefeng.guns.modular.kanong.model.params.TpParam">
        select id,tpzl,tpzl_id,tplj,cjrq from kn_tp where tpzl_id=#{paramCondition.tpzlId} and tpzl=#{paramCondition.tpzl} order by cjrq
    </select>

    <update id="updateUser" parameterType="cn.stylefeng.guns.modular.kanong.entity.KNUser">
        update kn_user set zt=#{paramCondition.zt} where id=#{paramCondition.id}
    </update>

    <insert id="addEcgd" parameterType="cn.stylefeng.guns.modular.kanong.entity.Ecgd">
        insert into kn_ecgd (id,kn_user_id) values (#{ecgd.id},#{ecgd.knUserId})
    </insert>

    <insert id="addDdkh" parameterType="cn.stylefeng.guns.modular.kanong.entity.Ddkh">
        insert into kn_ddkh (id,kn_user_id) values (#{ddkh.id},#{ddkh.knUserId})
    </insert>
</mapper>
